<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @stock_setting.symbol %>
</p>

<%= link_to 'Edit', edit_stock_setting_path(@stock_setting) %> |
<%= link_to 'Back', stock_settings_path %>
