<script type="text/javascript">document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');</script>

<style type="text/css" media="screen">
    body { text-align: center; }
</style>

<!-- IMPORT FONT FROM GOOGLE  -->
<script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'Raleway:200,400:latin' ] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })(); </script>

<script>
var curNum = 0;
var images = [];
var swaptime = 10000;
var phototime = 10000;
loadImageRotation();

var lastRefresh = "<%= getRefreshDate() %>";
checkRefresh();
var iter = 0;

swapContent = function(){
	if(iter==1){
		// if(bigImage.length > 0 || bigMessage.length > 0){
		if(images.length > 0){

			$("#normalContent").fadeOut('slow');
			$("#otherContent").fadeIn('slow');
			iter = 0;	
			$('#otherImage').height($(window).height());
		}
	}
	else{
		$("#otherContent").fadeOut('slow');
		$("#normalContent").fadeIn('slow');
		iter = 1;
	}
}
</script>
<!--
<div id="otherContent">
  <div id="fe_image"></div>

<img id="otherImage" src="" >
</div>
-->
<div id="normalContent">
  <div id="header" class="header">
    <div class="fe_image"><%= image_tag 'logo.png' %></div>
    <div class="fe-clocks"><script type="text/javascript" src="http://localtimes.info/world_clock2.php?&cp1_Hex=fcfbfb&cp2_Hex=FFFFFF&cp3_Hex=000000&fwdt=110&ham=1&hbg=1&hfg=0&sid=0&mon=0&wek=0&wkf=0&sep=0&widget_number=21000&lcid=SNXX0006,INXX0012,GMXX0025,EIXX0014,USVA0645,USCA0706"></script></div>
  </div>

<% if defined? notice and not notice.blank? %>
<center><p id="notice"><%= notice %></p></center>
<% end %>

<h3 class="marqueeHeader"><%= getMarquee() %></h3>

<div class="wrap">
    <div class="main">
      <div id="rss">Loading...</div>
    </div>
    <div class="sidebar">
          <div align="center" class="rssTitle">Stock</div>
          <div valign="top" id="stock" class="infoSurround">Loading...</div>

        <div align="center" class="rssTitle">Weather</div>
      <!--
      By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
      -->
      <div class="weather-widget">
        <div id="awcc1427058850226" class="aw-widget-current"  data-locationkey="207931" data-unit="c" data-language="en-us" data-useip="false" data-uid="awcc1427058850226">
            <a href="http://www.accuweather.com/en/ie/dublin/207931/weather-forecast/207931" class="aw-widget-legal"></a>
        </div>
      </div>
<script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>

<div align="center" class="rssTitle">Travel Information</div>
<div id="dynamic_train" class="infoSurroundTransport">Loading...</div>
    </div>
</div>
    <div class="homesettings"><a href="/settings">Settings</a> <a href="/photo_links">Photos</a> <a href="/stock_settings">Stock</a></div>
</div> <!-- end of table div -->

<script>
callTrain = function(){
    dynamic_change("/train","dynamic_train",10000,callBus);
};
callBus = function(){
    dynamic_change("/bus","dynamic_train",10000,callTrain);
};
callStock = function(){
    dynamic_change("/stock","stock",60000,callStock);
};
callRss = function(){
    dynamic_change("/rss","rss",20000,callNotices,true);
};
callNotices = function(){
    dynamic_change("/notices","rss",20000,callImages,true);
};
callImages = function(){
    changeImageNew();
};

// initial order of elements on screen to load 
callStock();
callTrain();
callRss();
</script>

<script>
$('h3').marquee({ speed: 50 });
</script>

<div style="margin: 15px 0px 0px; display: inline-block; text-align: center; width: 100%;">
<div style="display: inline-block; padding: 2px 4px; margin: 0px 0px 5px; border: 1px solid rgb(204, 204, 204); text-align: center; background-color: transparent;">
<a href="http://localtimes.info/difference" style="text-decoration: none; font-size: 13px; color: rgb(252, 251, 251);">World Clock</a>
</div>
</div>
</div>

<script>
// organiseSwapping();
</script>

