// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 * {
    font-family: Verdana;
    font-size: 15px;
    color: black;
  }

 .body {
    background-color: black;
    $body-bg: black;
}

 th {
    background-color: #B40404;
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: 28px;
}

.rssTitle{
	background-color: #B40404;
	font-family: Verdana;
    color: white;
    height: 32px;
    line-height: 32px;	
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.rssHeader{
	background-color: #0B3861;
    color: white;
    font-size: 20px;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.infoSurround{
	padding-top: 4px;
	padding-left: 4px;
    font-size: 18px;
    /*background-color: #F6E3CE;*/
    background-color: #D8D8D8;
    color: black;
}

.stock{
	font-size: 20px;
}

.stockred{
	color: red;
}

.stockgreen{
	color: red;
}

.livetime{
	background-color: #DBA901;
}

.busheader{
	font-weight: bold;
}
