// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 *.static_pages {
    font-family: Verdana;
    font-size: 15px;
    color: black;
  }
 

 th {
    background-color: #B40404;
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: 28px;
}

.rssTitle{
	background-color: #B40404;
	font-family: Verdana;
    color: white;
    height: 32px;
    line-height: 32px;	
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.rssHeader{
	background-color: #0B3861;
    color: white;
    font-size: 20px;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.marqueeHeader{
    color: white;
    font-size: 20px;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.infoSurround{
	padding-top: 4px;
	padding-left: 4px;
    font-size: 18px;
    background-color: #D8D8D8;
    color: black;
    opacity: 0.6;
}

.infoSurroundTransport{
    padding-top: 1px;
    padding-left: 4px;
    font-size: 18px;
    /*background-color: #F6E3CE;*/
    background-color: #D8D8D8;
    color: black;
    line-height: 14px;
    opacity: 0.6;
}

.busText{
    font-size: 18px;
}

.livetime{
	background-color: #DBA901;
    font-size: 18px;
}

.busheader{
	font-weight: bold;
}





.clock_container {
    float:left;
    margin-right:2px;
    width:110px;
    position: relative;
}
.clock_container .lbl {
    font-size:15px;
    font-weight: bold;
    color: white;
    line-height: 22px;
    text-align: center;
    height: 27px;
    width: 108px;
    margin: 0 auto;
}
.clockHolder {
    width:100px; 
    margin:0 auto;
    position:relative;
}
.clock {
    margin-left:5px;
}

.sec {
    color: white;
    display:block;
    position:absolute;
}
.min {
    color: white;
    display:block;
    position:absolute;
}
.hour {
    color: white;
    display:block;
    position:absolute;
}

.hr {
    color: white;
}

.minute {
    color: white;
}

.period {
    color: white;
}

.rotatingWrapper {
    position:absolute;
    width:100px;
    height:100px;
    left: 5px;

}
.digital {
    font-weight:bold;
    font-size: 14px;
    color: white;
    text-align:center;
}

.noticeContainer {
    background-color: #D8D8D8;
    opacity: 0.6;
    color: black;
}

.noticeItem {
background-color: #D8D8D8;
    color: black;
    margin: 0px;
    padding: 10px;
}


td {
  vertical-align: baseline;
}