// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 *.static_pages {
    font-family: Verdana;
    font-size: 15px;
    color: black;
  }

.bigMessage{
    color: white;
    font-size: 64px;
    line-height: 200%;

}

 th {
    background-color: #B40404;
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: 28px;
}

 #header {
   border-radius: 4px;
   background: #787878;
   height: 120px;
   width: 99%;
   padding: 10px;
 }

 #fe_image {
   float: left;
   margin-bottom: 10px;
 }

 #fe-clocks {
   float: right;
   padding-right: 20%;
   margin-top: 20px;
   margin-right: 10%;
 }

#wrap {
  width: 98%;
  margin:10px 0 0 0;
  padding: 0;
//  background:#99c;
  float: left;
}

 #main {
   float:left;
   margin:0;
   padding: 0;
   width:60%;
 }

#sidebar {
  float:right;
  padding: 0;
  margin:0;
  width:38%;
}

#weather-widget {
  width: 95%;
  padding-left: 3%;
}

#settings {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#settings a, #settings a:hover {
  color: #ffffff;
  background: none;
}

.rssTitle{
    border-top: 3px solid #3AAEDA;
    border-left: 3px solid #3AAEDA;
//	background-color: #838383;
	font-family: 'Raleway', sans-serif;
    color: #DADADA;
    height: 32px;
    width: 100%;
    line-height: 32px;	
    font-size: 28px;
    font-weight: bold;
    margin:8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.rssHeader{
    border-top: 1px solid #3AAEDA;
    border-right: 1px solid #3AAEDA;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    margin: 5px 20px 0 20px;
}

.marqueeHeader{
    color: white;
    font-size: 20px;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.infoSurround, .infoSurroundTransport{
    font-family: 'Raleway', sans-serif;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
	padding: 10px 10px 10px 10px;
    margin: 0 20px 10px 20px;
    line-height: 22px;
    font-weight: bold;
    font-size: 20px;
    background-color: #AFAFAF;
    color: #000;
}

.infoSurroundTransport {
  height: 100%;
}

#train-time-line {
  font-family: 'Raleway', sans-serif;
  clear: both;
}

#train-departing {
  float: left;
  text-align: left;
  margin: 0 20px 10px 10%;
}

#bus-time-line {
  font-family: 'Raleway', sans-serif;
  clear: both;
  margin-bottom: 10px;
}

#bus-departing {
  float: left;
  text-align: left;
  width: 40%;
  margin: 0 20px 0 2%;
}

#bus-planned {
  text-align: center;
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
}

#journey-time {
  text-align: left;
}

#stock{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  display: table;
  width: 90%;
}

#stock-line {
  margin-bottom: 5px;
}

#stock-symbol {
  float: left;
  width: 25%;
  text-align: right;
  margin-left: 15%;
}

#stock-price {
  float: left;
  width: 25%;
  text-align: center;
  margin-left: 5%;
}

#stock-change {
  position: relative;
  float: left;
  width: 25%;
  text-align: left;
  margin-left: 5%;
}

.top-row {
  font-weight: bold;
}

.busText{
    font-size: 18px;
}

.livetime {
	background-color: #414141;
    color: #3AAEDA;
    padding: 2px 5px 2px 5px;
    font-size: 18px;
}

.busheader{
	font-weight: bold;
}

.clock_container {
    float:left;
    margin-right:2px;
    width:110px;
    position: relative;
}
.clock_container .lbl {
    font-size:15px;
    font-weight: bold;
    color: white;
    line-height: 22px;
    text-align: center;
    height: 27px;
    width: 108px;
    margin: 0 auto;
}
.clockHolder {
    width:100px; 
    margin:0 auto;
    position:relative;
}
.clock {
    margin-left:5px;
}

.sec {
    color: white;
    display:block;
    position:absolute;
}
.min {
    color: white;
    display:block;
    position:absolute;
}
.hour {
    color: white;
    display:block;
    position:absolute;
}

.hr {
    color: white;
}

.minute {
    color: white;
}

.period {
    color: white;
}

.rotatingWrapper {
    position:absolute;
    width:100px;
    height:100px;
    left: 5px;

}
.digital {
    font-weight:bold;
    font-size: 14px;
    color: white;
    text-align:center;
}

.noticeContainer {
    background-color: #D8D8D8;
    opacity: 0.6;
    color: black;
}

.noticeItem {
background-color: #D8D8D8;
    color: black;
    margin: 0px;
    padding: 10px;
}


td {
  vertical-align: baseline;
}